<% include partials/header %>



    <ul class="list-group list-group-flush ">
      <% users.forEach(function(user){ %>
       <li  class="list-group-item active"><%= user %></li> 
      <% }); %>
    </ul>


    <% include partials/footer %>